.app-layout {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
    align-items: flex-start;
  }
}

.results-column {
  flex: 1;
  width: 100%;
}